.container{
    border: 3px solid rgb(168, 117, 216);
    
    padding: 23px 120px 30px 170px;
    box-sizing: content-box;
    border-radius: 12px;
    margin: 10px 150px 10px 150px;
    
    background-color:rgb(177, 21, 102);
    border-color: rgba(135, 140, 104, 0.622)
    
    }
    
    
    #first{
        padding: 10px 100px 10px 170px;
        color: rgba(135, 140, 104, 0.622);
        font-size: 20px; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        
       }
    
       
    #second{
        padding: 10px 100px 10px 170px;
        color: rgba(135, 140, 104, 0.622);
        font-size: 20px; 
        font-family: 'Franklin Gothic Medium';
       }
       
       #third{
        padding: 10px 100px 10px 170px;
        color: rgba(135, 140, 104, 0.622);
        font-size: 20px; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       }
       p{
        padding: 0px 100px 0px 90px;
        font-family:  'Times New Roman' ;
        color: #000;
       }
       
    
    
    
    