.container{
    font-size: 10px;
    border: 2px solid red;
    width: 100vw;
    height: 100vh;
    
}
h1{
    text-align: center;
}
/* #first{
font-size: 3em;
padding: 2em;
} */

html{
    font-size: 25px;
}
